table{
  height: 460px;
  width: 280px;
  font-size: 25px;
  text-align:center;
  color:#ffffff;
  border:10px solid rgb(70,136,241);
  border-spacing: 0;

}

td{border-width: 0;}

.r1{
  background-color: rgb(228,119,120);
}
.r2{
  background-color: rgb(242,238,109);
}
.r3{
  background-color: rgb(171,230,229);
}
.r4{
  background-color: rgb(119,148,225);
}