.container {
  height: 500px;
  width: 1000px;
  background: yellow;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  align-items: flex-end;
}


.item {
  flex: 0 1 100px;
  height: 100px;
  background: purple;
  margin-left: 10px;
}

