.container {
  height: 500px;
  width: 1000px;
  background: yellow;
  display: flex;
  align-items:center;
  justify-content: space-between;
}


.item {
  flex: 0 1 100px;
  height: 100px;
  background: purple;
}

